*{
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.head{
  width: 100px;
  height: 250px;
  background: #ffc6aa;
  background-image: linear-gradient(29deg, #d9ab95, transparent);
  border-radius: 50px;
  margin: 120px 200px;
  position: relative;
}

.eye1-left{
  width: 20px;
  height: 20px;
  background: #fff4ef;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  left: 30px;
}

.eye1-rigth{
  width: 20px;
  height: 20px;
  background: #fff4ef;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  right: 30px;
}

.eye-left{
  width: 10px;
  height: 10px;
  background: #1f0e13;
  border-radius: 20px;
  position: absolute;
  top: 51px;
  left: 39px;
}
.eye-rigth{
  width: 10px;
  height: 10px;
  background: #1f0e13;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  right: 30px;
}

.eyebrow-lf{
  width: 23px;
  height: 7px;
  background: #7d666d;
  border-radius: 20px;
  position: absolute;
  top: 35px;
  right: 26px;
}
.eyebrow-rt{
  width: 23px;
  height: 7px;
  background: #7d666d;
  border-radius: 20px;
  position: absolute;
  top: 42px;
  right: 53px;
}
.nose{
  width: 50px;
  height: 50px;
  background: #e4743e;
  background-image: linear-gradient(190deg, #ffd8c6, transparent);
  border-radius: 40px;
  position: absolute;
  top: 76px;
  right: 25px;
  z-index: 1;
  position: absolute;
}
.ear-rigth{
  width: 22px;
  height: 22px;
  background: #fbae89;
  border-radius: 20px;
  position: absolute;
  top: 53px;
  right: -14px;
  z-index: -1;
}
.ear-left{
  width: 22px;
  height: 22px;
  background: #fbae89;
  border-radius: 20px;
  position: absolute;
  top: 53px;
  left: -14px;
  z-index: -1;
}

.beard{
  width: 112px;
  height: 115px;
  background: #7d666d;
  border-radius: 40px;
  position: absolute;
  top: 105px;
  right: -5px;
  background-image: linear-gradient(127deg , black, transparent);
}
.mouth{
  width: 50px;
  height: 11px;
  background: #ffffff;
  border-radius: 40px;
  position: absolute;
  top: 138px;
  right: 25px;
  z-index: 1;
}
.body{
  width: 200px;
  height: 228px;
  background: #ff6190;
  background-image:   linear-gradient(47deg, #b82727, transparent);
  border-radius: 50px;
  margin: 162px -52px;
  position: relative;
  z-index: -1;
}
.arm-left{
  width: 85px;
  height: 122px;
  background: #ff7ca3;
  background-image: linear-gradient( 3deg, #c02e59, transparent);
  border-radius: 283px 196px  85px 178px;
  position: absolute;
  top: 168px;
  left: -78px;
  z-index: -2;
}
.arm-left2{
  width: 85px;
  height: 122px;
  background: #ffa77d;
  border-radius: 207px 293px 68px 85px;
  position: absolute;
  top: 255px;
  left: -78px;
  z-index: -3;
}
.arm-rigth{
  width: 85px;
  height: 122px;
  background: #ff7ca3;
  background-image: linear-gradient( 28deg, #c02e59, transparent);
  border-radius: 196px 240px  169px 283px;
  position: absolute;
  top: 168px;
  right: -78px;
  z-index: -2;
}
.arm-rigth2{
  width: 85px;
  height: 122px;
  background: #ffa77d;
  border-radius: 207px 293px 68px 185px;
  position: absolute;
  top: 255px;
  right: -78px;
  z-index: -3;
}
.pocket{
  width: 55px;
  height: 61px;
  background:#ff7ca3;
  background-image: linear-gradient(45deg, #cd3e68, transparent);
  position: absolute;
  top: 258px;
  right: -27px;
}
.bic {
  width: 6px;
  height: 32px;
  background: #000000;
  border-radius: 26px;
  position: absolute;
  top: 247px;
  right: -20px;
}